<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <h3>Template Driven Form</h3>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div>
      <label>Course ID: </label>
      <input type="text" name="cid" placeholder="Enter ID" ngModel>
    </div>
    <br>
    <div>
      <label>Course Name: </label>
      <input type="text" name="cname" placeholder="Enter Name" ngModel>
    </div>
    <br>
    <div>
      <label>Date of joining: </label>
      <input type="text" name="DateOfJoining" ngModel>
    </div>
    <br>
    <button type="submit">Click here</button>
  </form>

</body>

</html>